%flex-center {
    display: flex;
	justify-content: center;
	align-content: center;
    flex-wrap: wrap;
}
%flex-align {
        display:flex;
		align-items: center;
}
%background-btn {
    background: linear-gradient(#ef74da,#e756f7,#b860d5,#aa5edb);
}