
footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    padding: 1rem;
    background: rgb(52, 51, 51);
    grid-area: footer;
    @include for-tablet {
        transition: all 2s;
        flex: 0 0 300px;
        display: flex;
        align-items: center;
    }
    img {
        filter: brightness(50);
        left: 0;
        position: relative;
        height: 3rem;
        width: 7rem;
    }
    ul {
        margin-left: 1rem;
        list-style: none;
        .fas {
            margin-right: 8px;
        }
        a:visited,a:link {
            color: white;
            text-decoration: none;
        }
    }
}