.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10000;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.80);
    animation: cache .5s both;
    animation-delay: 2s;
    font-family: 'Shrikhand', cursive;
        .letter {
            font-size: 4rem;
            color: $color-secondary;
            animation: pulse 1s linear 3;
        }
        .point {
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            margin: 1rem 0 0 .5rem;
            animation: anim-point .9s ease-in-out 3;
        }
    }
/*--------------------point delay-----------------------*/

    .point:nth-child(9) {
        animation-delay: 0s;
        background: $color-primary;
    }
    .point:nth-child(10) {
        animation-delay: .2s;
        background: $color-secondary;
    }
    .point:nth-child(11) {
        animation-delay: .4s;
        background: $color-tertiary;
    }
/*--------------------letter delay----------------------*/

    .letter:nth-child(1) {
        animation-delay: .1s;
    }
    .letter:nth-child(2) {
        animation-delay: .2s;
    }
    .letter:nth-child(3) {
        animation-delay: .3s;
    }
    .letter:nth-child(4) {
        animation-delay: .4s;
    }
    .letter:nth-child(5) {
        animation-delay: .5s;
    }
    .letter:nth-child(6) {
        animation-delay: .6s;
    }
    .letter:nth-child(7) {
        animation-delay: .7s;
    }
    .letter:nth-child(8) {
        animation-delay: .8s;
    }
