/*-----------------------------Section box-----------------------------*/
.menu {
    position: relative;
    max-width: 500px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: $white;
    grid-area: nav;
    h2 {
        margin: 0 0 1rem .5rem;
    }
    .nmb{
    position: absolute;
    left: 5px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: 15px;
    background-color: $color-primary;
    color: $white; 
    }
}
/*---------------------------Bouton de fonctionnement+hover---------------------------*/
.btn__menu {
@include btn__box ($grey, $shadow, $color-primary);
@extend %flex-align;
@include for-tablet {
    justify-content: center;
}
&:hover {
    box-shadow: 0px 8px 6px 4px $shadow;
    background-color: $primary-hover ;
    color: $color-primary;
    .fas {
        color: $color-primary;
    }
    }
}