
/*-------------------Slide logo-----------------*/
@-webkit-keyframes repas-slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
}

  @keyframes repas-slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
}
/*---------------------animation rotate-center------------------------*/

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*-----------Loading spinner----------*/
@keyframes cache {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

 @keyframes pulse {
  0% {
    color: $color-primary;
    text-shadow: 0 0 5rem $color-tertiary;
  }
  80% {
    color: $color-secondary;
    text-shadow: 0 0 1rem $color-tertiary;
  }
  100% {
    color: $color-primary;
    text-shadow: 0 0 5rem $color-tertiary;
  }

 }

 @keyframes anim-point {
    0%{
      transform: translateY(0);
      opacity: 1;
    }
    50%{
      transform: translateY(-1rem);
      opacity: .6;
    }
}
